:host {
  display: flex;
  gap: 24px;
  justify-content: center;
  @media all and (max-width: 1000px) {
    flex-direction: column;
  }
}

.calculator-container {
  display: flex;
  justify-content: center;
}

.icon-button {
  position: fixed;
  top: 12px;
  right: 12px;
  width: 32px;
  height: 32px;
  padding: 0;
  font-size: 16px;
}
